<section class="orders-show">

  <header class="page-header">
    <h1>Order #<%= @order.id %></h1>
    <table class="table">
      <thead>
        <tr>
          <th>Image</th>
          <th>Product Name</th>
          <th>Description</th>
          <th>Quantity</th>
          <th>Item Total</th>
        </tr>
      </thead>
      <tbody>
        <% @order.line_items.each do |item| %>
          <tr>
            <td><%= image_tag item.product.image.url(:thumb) %></td>
            <td><%= item.product.name %></td>
            <td><%= item.product.description %></td>
            <td><%= item.quantity %></td>
            <td><%= humanized_money_with_symbol item.total_price %></td>
          </tr>
        <% end %>
          <td><%= @order.email%> </td>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="4" class="text-right">Total:</td>
          <td><%= humanized_money_with_symbol @order.total_cents / 100.00 %></td>
        </tr>
      </tfoot>
    </table>
  </header>

  <div class="order-summary jumbotron">
    <h4>Thank you for your order!</h4>
  </div>

  <%= link_to "Continue Shopping", root_path, class: 'btn btn-lg btn-primary' %>

</section>
